<!-- <pre><code><%# JSON.stringify(quiz, null, 2) %></code></pre> -->

<%- include('./partials/header') %>

<main class="container py-4">

  <h1>Votre score : <%= score %> / <%= nbOfQuestions %></h1>

</main>

<%- include('./partials/footer') %>